
doctype html
html(lang="es")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" href="/img/favicon.png" type="image/png")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      title Natours | #{title}
  body(data-alert=(alert ? alert : ''))
    include _header.pug

    block content
      h1 this is the base page

    include _footer.pug
    script(type="module", src="/dist/index.js" defer)




